* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(to right, #7d9dda, #06cdff);
  text-align: center;

}

.hero {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #7d9dda, #06cdff);
  background-position: center;
  background-size: cover;
  position: absolute;
}

/* For the white box of the form */
.formbox { 
  width: 20vw;
  height: 75vh;
  position: relative;
  margin: 6% auto;
  margin-top: 2%;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}

.button-box {
  width: 210px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#toggle-div {
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #7d9dda, #06cdff);
  border-radius: 30px;
  transition: 0.5s;
}

/* For three icons[Facebook, twitter, google] */
.social-icons {
  margin: 30px auto;
  text-align: center;
}

.social-icons img {
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

/* For submit the button */
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #7d9dda, #06cdff);
  border: 0;
  outline: none;
  border-radius: 30px;
}

/* For the check box of terms and conditions */
.check-box {
  height: 5%;
  /* margin: 30px 10px 30px; */
  width: 10%;
}

span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

#response {
  color: red;
  width: 85%;
  text-align: center;
  margin-right: 250px;
}

.check-box-and-agree {
  display: flex;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

span {
  align-self: center;
}

main {
  display: grid;
  grid-template-rows: 5% 95%;
  height: 80vh;
}

#mainDiv {
  display: grid;
  grid-row: 2;
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 3%;
  width: 33%;
  height: 100%;
  justify-self: center;
}

#chairsDiv {
  width: 100%;
  height: 100%;
  justify-self: center;
}

#sign-out-btn {
  grid-row: 1;
  cursor: pointer;
}

a img {
  cursor: pointer;
  margin: 0.3%;
}